#cart-summary-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    width: 75px;
    height: 75px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease, height 0.3s ease;
}

#cart-summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    overflow: hidden;
    height: 100%;
}

#cart-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#cart-icon img {
    width: 30px;
    height: auto;
}

#cart-total-small, 
#view-cart-button {
    font-size: 0.8em;
    display: none;
}

#cart-total-small span {
    font-weight: bold;
}

#view-cart-button {
    text-decoration: none;
    background-color: #439093;
    color: black;
    padding: 3px 6px;
    border-radius: 8px;
    border: none;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 0.8em;
}
