#product-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

#product-detail img {
    max-width: 40%;
}

#info-product {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

#price-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#price-buy input {
    width: 80px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

#price-buy button {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    margin: 10px; 
    background-color: #439093;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}